<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center">Ma famille</h2>
      <hr>
      <div class="row">
      <% @orders.each do |order| %>
        <div class="cards-myplants col-md-6">
        <div class="cards-order">
          <div class="card-order">
            <%= cl_image_tag(order.composition.photo) %>
            <div class="card-order-infos">
              <h3><%= order.composition_nickname %></h3>
              <p><a href="https://www.instagram.com/explore/tags/<%=order.composition.plant.fullname.delete(' ')%>/" target="_blank" >#<%=order.composition.plant.fullname.capitalize%></a></p>
              <p>adoper le <%=order.cart.updated_at.strftime('%d-%m-%y')%></p>
            </div>
          </div>
        </div>
        </div>
      <% end %>
      </div>
      <div class="profile-end">&nbsp;</div>
      <div class="text-center">
        <a href="/" class="btn btn-outline-primary">Adopte une plante de plus</a>
      </div>
      <div class="profile-end">&nbsp;</div>
    </div>
  </div>
</div>