<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2>Profile de <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h2>
      <h2>Mes commandes (<%= @carts.size %>)</h2>
      <hr>
      <% @carts.each do |cart| %>
        <div class="cards-command">
          <div class="card-command">
            <div class="card-command-title">
              <div class="card-command-title-content">
                Commande n°<%= cart.id %>
                <p> Total TTC : <%= cart.amount %> €</p>
              </div>
              <div class="card-command-title-content text-right">
                commandé le <%=cart.updated_at.strftime('%d-%m-%y')%>
                <p>Status <%= cart.state %></p>
              </div>
              
            </div>
            <div class="card-command-content">
              <% cart.orders.each do |order| %>
                <div class="card-command-content-plant">
                  <%= cl_image_tag(order.composition.photo) %>
                  <div>
                    <h4><%= order.composition_nickname.capitalize %></h4>
                    <p>
                      Plante : <%= order.composition.plant.fullname.capitalize %> - <%= order.composition.variant_plant.height_format %>
                    </p>
                    <p>
                      Pot : <%= order.composition.pot.name %> - <%= order.composition.variant_pot.height_format %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="profile-end">&nbsp;</div>
      <div class="text-center">
        <a href="/" class="btn btn-outline-primary">Adopte une plante de plus</a>
      </div>
    </div>
  </div>
</div>
