<nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
  <a class="navbar-brand" href="/"><%= image_tag("logo_white.png",class:"img-navbar") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="caddie">
          <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i></a>
          <div class="caddie-nbr badge badge-primary">1</div>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.profile.first_name, profile_path(current_user.profile.id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mes plantes", profiles_my_plants_path(current_user.profile.id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
        
        <% else %>
        <li class="nav-item">
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "nav-link" %>
        <% end %>
    </ul>
  </div>
</nav>


