<section>
  <div class="banner-home"  style = "background-image: linear-gradient(90deg, rgba(130,119,119,0.300) 0%, rgba(255,255,255,0.300) 0%) , url(<%= image_path("back2.jpg") %>)">
    <div class="center-title"> <p class="text-center"> Adoptez une plante à votre image, unique et préparée proche de chez vous </p>  </div>
      <div class="searchizi">
          <form class="search" action="">
            <input  type="text" placeholder="Entrez le nom d'une plante" required>
            <button type="submit">Rechercher</button>
          </form> 
          <%# <a id="seeall" href="#"> Voir toutes les compositions </a> %>
          <%# <a href="#" class="scroll-down" address="true"></a> %>
      </div>
    </div>
  </div> 
</section>


<%# id="banner-typed-text" %>


<section class="ok" media="screen">
  <div id="resultSearch" class="wrapper-home" style="height: 28vw" data-max-click="<%= @plants.size / 4 %>"> 
    <h2 class="text-center"> Nos meilleures compositions </h2>
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="cards col-12 col-sm-6	col-md-3 ">
          <div class="card">
            <div class="card-content" style='background-image: url( "<%= cl_image_path(plant.image_random) %> ")'>
              <a class="polaroid-link" href="<%= plant_path(plant) %>"></a>
            </div>
            <div class="card-footerz hidden animated">
              <div class="card-footerz-title"> <%= plant.fullname %> </div>
              <%# <div class="card-footerz-title2"> <%= plant.commercial_name </div> %>
              <div class="card-footerz-title2"> A partir de <%= humanized_money(plant.min_price_compo / 100) %> €</div>
            </div>
          </div> 
        </div>
      <% end %>
    </div>
  </div>
  <div class="wrapper-home-btn">
    <div class="col text-center">
        <button type="button" id="voirplus" class="btn btn-outline-primary" id="margintop">Voir plus de suggestions</button>
    </div>
  </div>
</section>



<div class="wrapper-home-bottom" style= "background-image: linear-gradient(rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0.616)), url(<%=image_path("homedownpage.jpg")%>)">
  <div class="text-center">
    <h2> Partagez vos créations !</h2>
    <h3> #AdopteUnePlante </h3>
  </div>
  <div class="row">
    <%# <% 4.times do %> 
      <div class="col-sm-3  col-xs-6 polaroids">
        <div class="polaroid">
          <div class="polaroid-content">
            <%= image_tag('insta1.png', style: 'width:100%') %>
          </div>
          <div class="polaroid-footer text-center">
            <p> #suculentas </p>
          </div>
          <a class="polaroid-link" href="https://www.instagram.com/p/BstSygCFctC/" target="_blank"></a>
        </div>
      </div>
    <%# <% end %> 
        <%# <% 4.times do %> 
      <div class="col-sm-3  col-xs-6 polaroids">
        <div class="polaroid">
          <div class="polaroid-content">
            <%= image_tag('insta2.png', style: 'width:100%') %>
          </div>
          <div class="polaroid-footer text-center">
           <p> #philodendron </p>
          </div>
          <a class="polaroid-link" href="https://www.instagram.com/p/BuoejBpnaD_/" target="_blank"></a>
        </div>
      </div>
    <%# <% end %> 
        <%# <% 4.times do %> 
      <div class="col-sm-3  col-xs-6 polaroids">
        <div class="polaroid">
          <div class="polaroid-content">
            <%= image_tag('insta3.png', style: 'width:100%') %>
          </div>
          <div class="polaroid-footer text-center">
           <p> #zamioculcas </p>
          </div>
          <a class="polaroid-link" href="https://www.instagram.com/p/BulXUq6gUEC/" target="_blank"></a>
        </div>
      </div>
    <%# <% end %> 
        <%# <% 4.times do %> 
      <div class="col-sm-3  col-xs-6 polaroids">
        <div class="polaroid">
          <div class="polaroid-content">
            <%= image_tag('insta4.png', style: 'width:100%') %>
          </div>
          <div class="polaroid-footer text-center">
           <p> #calathea </p>
          </div>
          <a class="polaroid-link" href="https://www.instagram.com/p/BuvhUJfDg6g/" target="_blank" ></a>
        </div>
      </div>
    <%# <% end %> 
  </div>
</div>



