<div id="variant-picture">
  <% unless variant.nil? %> 
    <%= cl_image_tag(variant.findphoto, width: 150, height: 150, class: "mx-auto d-block") %>
  <% else %>
    <%= cl_image_tag(addr, width: 150, height: 150, class: "mx-auto d-block") %>
  <% end %>
</div>

<div  id="variant-action" class="card-body d-flex justify-content-between" style="height: 40px; padding: 10px;">
  <% if variant.nil? %>
    <%= link_to "Create", new_plant_variant_plant_path(@plant, format: format) %>
  <% else %>
    <h6 class="card-title"><%= format %> (sku : <%= variant.sku %>)</h6>

    <%= link_to edit_variant_plant_path(variant, format: format) do %>    
      <i class="fas fa-edit "></i>
    <% end %>

    <%= link_to variant_plant_path(variant), method: :delete, data: {:confirm => "Are you sure to delete this variant ?"} do %>
      <i class="far fa-trash-alt"></i>
    <% end %>

  <% end %>
</div>