<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="composition-title">
        <h1><%= @plant.fullname %></h1>
        <p><%= @plant.commercial_name %></p>
      </div>
      <div class="composition-grid">
        <div class="composition-grid-main">
          <div class="composition_cards">
            <div id="card-main-image" class="card-main" style="background-image: url('<%=cl_image_path(@plant.photo) %>')">
              <div class="card-main-size-box">
                <div id="sizeS" data-plant-id="<%= @plant.givevariant("S").id %>" data-price="<%= @plant.givevariant("S").price %>" class="card-main-size">S</div>
                <div id="sizeM" data-plant-id="<%= @plant.givevariant("M").id %>" data-price="<%= @plant.givevariant("M").price %>" class="card-main-size card-main-size-active">M</div>
                <div id="sizeL" data-plant-id="<%= @plant.givevariant("L").id %>" data-price="<%= @plant.givevariant("L").price %>" class="card-main-size">L</div>
              </div>
            </div>
          </div>
        </div>
        <% @pots.each_with_index do |pot, i| %>
          <div class="composition_cards">
            <div id="pot<%= i+1 %>" data-pot-id="<%= pot.givevariant("M").id %>" data-price="<%= pot.givevariant("M").price %> " data-photo="<%=cl_image_path(Composition.photo(variant_pot_sku: pot.skuforpot("M"), variant_plant_sku: @plant.skuforplant("M") ))%>" 
              data-pot-id-s="<%= pot.givevariant("S").id %>" data-pot-id-m="<%= pot.givevariant("M").id %>" data-pot-id-l="<%= pot.givevariant("L").id %>" 
              data-price-s="<%= pot.givevariant("S").price %>" data-price-m="<%= pot.givevariant("M").price %>" data-price-l="<%= pot.givevariant("L").price %>" 
              data-photo-s="<%= cl_image_path(Composition.photo(variant_pot_sku: pot.skuforpot("S"), variant_plant_sku: @plant.skuforplant("S") ))%>" 
              data-photo-m="<%= cl_image_path(Composition.photo(variant_pot_sku: pot.skuforpot("M"), variant_plant_sku: @plant.skuforplant("M") ))%>" 
              data-photo-l="<%= cl_image_path(Composition.photo(variant_pot_sku: pot.skuforpot("L"), variant_plant_sku: @plant.skuforplant("L") ))%>"
              class="card-pot-contain" style="background-image: url(<%=cl_image_path(pot.photo) %>)">
              <div class="card-pot-footer">
                <div class="card-pot-name">pot <%= i+1 %></div>
                <div class="card-pot-price"><%= pot.givevariant("M").price %> €</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="composition-detail">
        <div class="composition-detail-left">
          <p><i class="fas fa-tint"></i> <%= @plant.watering %></p>
          <p><i class="fas fa-cloud-sun"></i> <%= @plant.sun_exposure %></p>
        </div>
        
            
        <form action="/profiles/<%= current_or_guest_user.profile.id %>/orders/new">
          <input type="hidden" id="potId" name="potId" value="0">
          <input type="hidden" id="plantId" name="plantId" value="<%= @plant.givevariant("M").id %>">
          <div class="composition-detail-right text-center">
            <div class="btn-group prix" role="group" aria-label="Basic example">
              <button id="price-compo" type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#compositionModal"><%= humanized_money(@plant.givevariant("M").price) %> €</button>
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Merci de choisir un pot">
                <button id="price-submit" type="submit"class="btn btn-primary" disabled>Je la veux</button>
              </span>
            </div>
            <p id="text-submit" class="text-primary">Selectionner un pot</p>
          </div>
        </form>
      </div>
      <div class="composition-description">
        <h3 class="description-title">Fiche botanique</h3>
        <p>
          <%= @plant.description %>
        </p>
      </div>
    </div>
  </div>
</div>


<%= render '/plants/showModal' %>