<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2>Mon panier</h2>
      <hr>
      <% if @orders.size != 0 %>
        <% @orders.each do |order| %>
          <div class="cards-order">
            <div class="card-order">
              <img src="/images/composition/planteMpot2.jpg" alt="">
              <div class="card-order-infos">
                <h3><%= order.composition_nickname %></h3>
                <p>adoper le <%=order.created_at.strftime('%d-%m-%y')%></p>
                <% contents = order.composition.variants_match.split(";") %>
                <% price = 0 %>
                <% contents.each do |content| %>
                  <% price += Variant.find(content.to_i).price %>
                  <% if Variant.find(content.to_i).product.category.name == "plant" %>
                    <%= link_to "https://www.instagram.com/explore/tags/#{Variant.find(content.to_i).gender}/", target: "_blank" do %>
                      <p>#<%= Variant.find(content.to_i).gender%></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-order-status">
                <h3 class="text-center"><%= humanized_money(price) %> €</h3>
                <h3>
                <%= link_to profile_order_path(@profile, order),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    remove
                <% end %>
                </h3>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        Votre panier est vide !
      <% end %>
      <hr>
      <div class="text-right">
        <% if @orders.size != 0 %>
          total : <%=  humanized_money(@cart.amount) %> €
        <% else %>
          total : 0 €
        <% end %>
      </div>
      <button type="button"class="btn btn-primary">Commander</button>
    </div>
  </div>
</div>