<h1>Products#index</h1>
<h2>Plants</h2>
<ul>
  <% @plants.each do |plant| %>
    <li>
      <%= link_to plant.id_code, product_path(plant) %> - <%= plant.gender %> <%= plant.species %>
    </li>
  <% end %>
</ul>


<h2>Pots</h2>
<ul>
  <% @pots.each do |pot| %>
    <li>
      <%= link_to pot.id, product_path(pot) %> - <%= pot.name %> - <%= pot.material %> - <%= pot.color %>
    </li>
  <% end %>
</ul>
