<h1>Products#show</h1>
<p><%= @product.category.name %></p>
<%
=begin%>
 <ul>
    <li> Taxref_id : <%= @product.details["taxref"].to_s %>    </li>
    <li> Family : <%= @product.details["family"] %>    </li>
    <li> Gender : <%= @product.details["gender"] %>    </li>
    <li> Species : <%= @product.details["species"] %>    </li>
    <li> Cultivar : <%= @product.details["cultivar"] %>    </li>
    <li> Variant : <%= @product.details["variant"] %>    </li>
    <li> Description : <%= @product.details["description"] %>    </li>
  <% end %>
</ul> 
<%
=end%>
