<h3>Nom complet : <%= @product.gender + " " + @product.species + " " + @product.cultivar + " " + @product.variant %> </h3>

 <ul>
    <li> Taxref_id : <%= @product.id_code.to_s %>    </li>
    <li> Family : <%= @product.family %>    </li>
    <li> Gender : <%= @product.gender %>    </li>
    <li> Species : <%= @product.species %>    </li>
    <li> Cultivar : <%= @product.cultivar %>    </li>
    <li> Variant : <%= @product.variant %>    </li>
    <li> Description : <%= @product.description %>    </li>
</ul> 

<%= link°to>
